$font-hero: 50px;

//Media queries Mixins and Variables
// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;

// Small devices
@mixin sm {
	@media (max-width: #{$screen-sm-max}) {
		@content;
	}
}

// Medium devices
@mixin md {
	@media (max-width: #{$screen-md-max}) {
		@content;
	}
}

// Large devices
@mixin lg {
	@media (max-width: #{$screen-lg-max}) {
		@content;
	}
}

//Other mixins

@mixin arrows {
	background: #b1acac;
	border-radius: 50%;
	height: $font-hero;
	@include lg {
		width: 30px;
		height: 30px;
	}
}

@mixin icon-font {
	font-size: 250px;
	color: white;
}

body {
	box-sizing: border-box;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	@include lg {
		height: 100vh;
	}

	#weather-info {
		#city {
			font-size: $font-hero;
			padding: 30px 0;
			color: white;
			text-align: center;
			@include sm {
				padding: 20px 0;
				font-size: $font-hero - 30px;
			}
		}
		#icons {
			display: flex;
			justify-content: center;
			#icon {
				i {
					@include icon-font();
				}
				img {
					@include lg {
						width: 135px;
						height: 110px;
					}
					@include sm {
						width: 100px;
						height: 70px;
					}
				}
			}
			#left-arrow {
				padding-right: 70px;
				align-self: center;
				@include lg {
					padding-right: 20px;
				}
				img {
					@include arrows;
				}
			}
			#right-arrow {
				padding-left: 70px;
				align-self: center;
				@include lg {
					padding-left: 20px;
				}
				img {
					@include arrows;
				}
			}
		}
		#today-summary {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-bottom: 40px;
			@include lg {
				padding-bottom: 20px;
			}
			#temperature,
			#current,
			#range {
				color: white;
				padding: 20px;
				@include sm {
					padding: 10px;
				}
			}
			#temperature {
				font-size: $font-hero;
				@include sm {
					font-size: $font-hero - 20px;
				}
			}
		}
		#h-line {
			height: 2px;
			width: 700px;
			margin: auto;
			background: grey;
			margin-bottom: 40px;
			@include lg {
				width: 300px;
			}
			@include sm {
				margin-bottom: 30px;
			}
		}
		#days {
			display: flex;
			justify-content: center;
			text-align: center;
			margin-bottom: 30px;
			@include lg {
				flex-wrap: wrap;
				margin: 0 30px;
				margin-bottom: 20px;
			}
			@include sm {
				margin: 0 10px;
			}
			.day-info {
				padding: 0 20px;
				@include sm {
					padding: 0 20px;
				}
				.date-day,
				.day-name {
					color: white;
					padding-bottom: 20px;
				}
				.day-icon {
					i {
						@include icon-font();
						font-size: 30px;
					}
					padding-bottom: 20px;
					img {
						height: 30px;
					}
				}
			}
		}
	}
}
